*{
    margin: 0;
    padding: 0;
    color: rgb(214, 209, 198);
    background-color: black;
    font-weight: bold;
    text-align: center;

}

textarea:focus ,input:focus{
    outline: none;
    border: 1.5px dotted  rgb(214, 214, 214);
}

button{
    border: none;
    outline: none;

}

input{
    border: 1.5px dotted grey;
}

.container {
    /* display: grid;
    place-items: center; */
     position: absolute;
    top: 50%;
    left: 40%; 
} 


