*{
    margin: 0;
    padding: 0;
    color: gray;
    background-color: black;
    font-weight: bold;

}

textarea:focus ,input:focus{
    outline: none;
    border: none;
}

button{
    border: none;
    outline: none;

}

input{
    border: 1.5px dotted grey;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.centered-form{
    display: grid;
    gap:50px;
    padding: 20px;
    border-radius: 8px;
}