*{
    margin: 0;
    padding: 0;
    color: #db934b;
    background-color: black;
    font-weight: bold;
    text-align: center;

}

textarea:focus ,input:focus{
    outline: none;
    border: 1.5px dotted  #db934b;
}

button{
    border: none;
    outline: none;

}

input{
    border: 1.5px dotted grey;
}

/* .container {
     display: grid;
    place-items: center; 

    
     position: absolute;
    top: 50%;
    left: 40%; 
}  */

.container{
    margin:0;
    padding: 0;
    position: absolute;
    top:40%;
    left: 60%;
    
}

